extends layout

block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/normveg.css')
  script(src="javascripts/admin_home.js")
  script(src="javascripts/normveg.js")
  body
    .modal(id="display")
    include navbar2.pug
    .content
      .tituloReservar
        h1.reservar Preencha as Refeições!
        div.left-arrow
          - var lastWeek = week - 1
          a.arrow-link(href="/adminhome?week="+lastWeek)
            img.arrow(src='/images/user_assets/seta-esquerda.png', alt='Left Arrow')
        h1.mes #[b.dias #{startOfWeek.date()}] #{startOfWeek.format('MMMM')} - #[b.dias #{endOfWeek.date()}] #{endOfWeek.format('MMMM')}
        div.right-arrow
          - var nextWeek =  week + 1
          a.arrow-link(href="/adminhome?week="+nextWeek)
            img.arrow(src='/images/user_assets/seta-direita.png', alt='Right Arrow')
      label.upload#uploadLabel(onclick="uploadFile()") Clique aqui para fazer Upload de Meals (JSON)
        #display.modal.fade
        img#i-img.w3-margin(src="/images/user_assets/info.png", alt="Image", height='18pw', width='18pw', onclick='explainmeal()') 
      input(type="file" id="fileInput" style="display: none;")
      .w3-middle
        table.w3-table.w3-centered
          tr.w3-border-bottom.w3-margin
            th
              include normveg.pug
            th SEGUNDA
            th TERÇA
            th QUARTA
            th QUINTA
            th SEXTA
          tr.normal
            th.refeicao ALMOÇO
            each c in [0,1,2,3,4]
              - var date = startOfWeek.clone().add(c, 'day').format('DD-MM-YYYY')
              - var refeicao = meals[date].filter(meal => meal.refeicao === "almoco" && meal.tipo !== "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"almoco","'+date+'","'+week+'","N")') EDITAR]
              else
                td.square Sem Informação
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("almoco","'+date+'","'+week+'","N")') ADICIONAR]
          tr.normal
            th.refeicao JANTAR
            each c in [0,1,2,3,4]
              - var date = startOfWeek.clone().add(c, 'day').format('DD-MM-YYYY')
              - var refeicao = meals[date].filter(meal => meal.refeicao === "jantar" && meal.tipo !== "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"jantar","'+date+'","'+week+'","N")') EDITAR]
              else
                td.square Sem Informação
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("jantar","'+date+'","'+week+'","N")') ADICIONAR]  
          tr.vegan
            th.refeicao ALMOÇO
            each c in [0,1,2,3,4]
              - var date = startOfWeek.clone().add(c, 'day').format('DD-MM-YYYY')
              - var refeicao = meals[date].filter(meal => meal.refeicao === "almoco" && meal.tipo === "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"almoco","'+date+'","'+week+'","V")') EDITAR]
              else
                td.square Sem Informação
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("almoco","'+date+'","'+week+'","V")') ADICIONAR]
          tr.vegan
            th.refeicao JANTAR
            each c in [0,1,2,3,4]
              - var date = startOfWeek.clone().add(c, 'day').format('DD-MM-YYYY')
              - var refeicao = meals[date].filter(meal => meal.refeicao === "jantar" && meal.tipo === "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"jantar","'+date+'","'+week+'","V")') EDITAR]
              else
                td.square Sem Informação
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("jantar","'+date+'","'+week+'","V")') ADICIONAR]    
