extends layout

block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/normveg.css')
  script(src="javascripts/admin_home.js")
  script(src="javascripts/normveg.js")
  body
    .modal(id="display")
    include navbar2.pug
    .content
      .tituloReservar
        h1.reservar Preencha as Refeições!
        div.left-arrow
          a.arrow-link(href="/previous-week")
            img.arrow(src='/images/user_assets/seta-esquerda.png', alt='Left Arrow')
        h1.mes #[b.dias #{startOfWeek.date()}] #{startOfWeek.format('MMMM')} - #[b.dias #{endOfWeek.date()}] #{endOfWeek.format('MMMM')}
        div.right-arrow
          a.arrow-link(href="/next-week")
            img.arrow(src='/images/user_assets/seta-direita.png', alt='Right Arrow')
      .w3-middle
        table.w3-table.w3-centered
          tr.w3-border-bottom.w3-margin
            th
              include normveg.pug
            th SEGUNDA
            th TERÇA
            th QUARTA
            th QUINTA
            th SEXTA
          tr
            th.refeicao ALMOÇO
            each c in [0,1,2,3,4]
              - var date = startOfWeek.clone().add(c, 'day').format('DD-MM-YYYY')
              if (meals[date].length>0 && meals[date][0].refeicao=="almoco")
                - var refeicao = meals[date][0]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"almoco","'+date+'")') EDITAR]
              else if (meals[date].length>1 && meals[date][1].refeicao=="almoco")
                - var refeicao = meals[date][1]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"almoco","'+date+'")') EDITAR]
              else
                td.square Sem Informação
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("almoco","'+date+'")') ADICIONAR]
          tr
            th.refeicao JANTAR
            each c in [0,1,2,3,4]
              - var date = startOfWeek.clone().add(c, 'day').format('DD-MM-YYYY')
              if (meals[date].length>0 && meals[date][0].refeicao=="jantar")
                - var refeicao = meals[date][0]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"jantar","'+date+'")') EDITAR]
              else if (meals[date].length>1 && meals[date][1].refeicao=="jantar")
                - var refeicao = meals[date][1]
                td.square #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='editContent(' + JSON.stringify(refeicao) + ',"jantar","'+date+'")') EDITAR]
              else
                td.square Sem Informação
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("jantar","'+date+'")') ADICIONAR]         
    include footer.pug
