extends layout
block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/normveg.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js")
  script(src="javascripts/home.js")
  script(src="javascripts/normveg.js")
  body  
    include navbar.pug
    .modal(id="display")
    
    .plus-box #[a(href="/buy" style="text-decoration: none;") +]
    #numberSenhas.senhas= user.senhas
      img.senha-img(id="img-senha" src='/images/user_assets/senha.png', alt='Senha', height='40pw', width='40pw')
      
      //img.senha-img2(src='/images/user_assets/senhaareservar.png', alt='Senha', height='40pw', width='40pw')
      //img.senha-img3(src='/images/user_assets/senhareservou.png', alt='Senha', height='40pw', width='40pw')
    .content
      .tituloReservar
        h1.reservar Reserve as suas refeições!
        h1.mes #[b.dias #{startOfWeek.date()}] #{startOfWeek.format('MMMM')} - #[b.dias #{endOfWeek.date()}] #{endOfWeek.format('MMMM')}
      .w3-middle
        table.w3-table.w3-centered
          tr.w3-border-bottom.w3-margin
            th
              include normveg.pug
            th SEGUNDA
            th TERÇA
            th QUARTA
            th QUINTA
            th SEXTA
          tr
            tr
            th.refeicao ALMOÇO
            each c in [0,1,2,3,4]
              - var data = startOfWeek.clone().add(c, 'day')
              - var date = data.format('DD-MM-YYYY')
              - var isReserved = reserves.some(reserve => reserve.data === date && reserve.refeicao === "almoco") || (data.isBefore(currentDay) && !data.isSame(currentDay,"day"))
              if (meals[date].length>0 && meals[date][0].refeicao=="almoco")
                - var refeicao = meals[date][0]
                td.square(id="A"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else if (meals[date].length>1 && meals[date][1].refeicao=="almoco")
                - var refeicao = meals[date][1]
                td.square(id="A"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES] 
              else
                td.square(id="A"+c class=isReserved ? 'reserved' : ''  onclick='selectDay(this)') Sem Informação
          tr
            th.refeicao JANTAR
            each c in [0,1,2,3,4]
              - var data = startOfWeek.clone().add(c, 'day')
              - var date = data.format('DD-MM-YYYY')
              - var isReserved = reserves.some(reserve => reserve.data === date && reserve.refeicao === "jantar") || (data.isBefore(currentDay) && !data.isSame(currentDay,"day"))
              if (meals[date].length>0 && meals[date][0].refeicao=="jantar")
                - var refeicao = meals[date][0]
                td.square(id="J"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else if (meals[date].length>1 && meals[date][1].refeicao=="jantar")
                - var refeicao = meals[date][1]
                td.square(id="J"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else
                td.square(id="J"+c class=isReserved ? 'reserved' : ''   onclick='selectDay(this)') Sem Informação
      .reservar-btn(onclick='reservou(this,"'+ user.username+'","'+startOfWeek.format('DD-MM-YYYY')+'")') Reservar
    include footer.pug
        
  
  
  
  
  
      