extends layout
block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/normveg.css')
  link(rel='stylesheet', href='/stylesheets/animatemodal.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js")
  script(src="javascripts/home.js")
  script(src="javascripts/load.js")
  script(src="javascripts/normveg.js")
  body  
    include navbar.pug
    .modal(id="display")
    .plus-box #[a(href="/buy" style="text-decoration: none;") +]
    #numberSenhas.senhas= user.senhas
      img.senha-img(id="img-senha" src='/images/user_assets/senha.png', alt='Senha', height='40pw', width='40pw')
      
      //img.senha-img2(src='/images/user_assets/senhaareservar.png', alt='Senha', height='40pw', width='40pw')
      //img.senha-img3(src='/images/user_assets/senhareservou.png', alt='Senha', height='40pw', width='40pw')
    .content
      .tituloReservar
        h1.reservar Reserve as suas refeições!
        div.left-arrow
          - var lastWeek = week - 1
          a.arrow-link(href="/home?week="+lastWeek)
            img.arrow(src='/images/user_assets/seta-esquerda.png', alt='Left Arrow')
        h1.mes #[b.dias #{startOfWeek.date()}] #{startOfWeek.format('MMMM')} - #[b.dias #{endOfWeek.date()}] #{endOfWeek.format('MMMM')}
        div.right-arrow
          - var nextWeek =  week + 1
          a.arrow-link(href="/home?week="+nextWeek)
            img.arrow(src='/images/user_assets/seta-direita.png', alt='Right Arrow')
      .w3-middle(id=tipo)
        table.w3-table.w3-centered
          tr.w3-border-bottom.w3-margin
            th
              include normveg.pug
            th SEGUNDA
            th TERÇA
            th QUARTA
            th QUINTA
            th SEXTA
          tr.normal
            th.refeicao ALMOÇO
            each c in [0,1,2,3,4]
              - var data = startOfWeek.clone().add(c, 'day')
              - var date = data.format('DD-MM-YYYY')
              - var isReserved = reserves.some(reserve => reserve.data === date && reserve.refeicao === "almoco") || (data.isBefore(currentDay) && !data.isSame(currentDay,"day"))
              - var refeicao = meals[date].filter(meal => meal.refeicao === "almoco" && meal.tipo !== "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square.tooltip(id="AN"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else
                td.square.tooltip.noInfo(id="AN"+c class=isReserved ? 'reserved' : ''  onclick='selectDay(this)') Sem Informação
          tr.normal
            th.refeicao JANTAR
            each c in [0,1,2,3,4]
              - var data = startOfWeek.clone().add(c, 'day')
              - var date = data.format('DD-MM-YYYY')
              - var isReserved = reserves.some(reserve => reserve.data === date && reserve.refeicao === "jantar") || (data.isBefore(currentDay) && !data.isSame(currentDay,"day"))
              - var refeicao = meals[date].filter(meal => meal.refeicao === "jantar" && meal.tipo !== "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square.tooltip(id="JN"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else
                td.square.tooltip(id="JN"+c class=isReserved ? 'reserved' : ''  onclick='selectDay(this)') Sem Informação
          tr.vegan
            th.refeicao ALMOÇO
            each c in [0,1,2,3,4]
              - var data = startOfWeek.clone().add(c, 'day')
              - var date = data.format('DD-MM-YYYY')
              - var isReserved = reserves.some(reserve => reserve.data === date && reserve.refeicao === "almoco") || (data.isBefore(currentDay) && !data.isSame(currentDay,"day"))
              - var refeicao = meals[date].filter(meal => meal.refeicao === "almoco" && meal.tipo === "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square.tooltip(id="AV"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else
                td.square.tooltip(id="AV"+c class=isReserved ? 'reserved' : ''  onclick='selectDay(this)') Sem Informação
          tr.vegan
            th.refeicao JANTAR
            each c in [0,1,2,3,4]
              - var data = startOfWeek.clone().add(c, 'day')
              - var date = data.format('DD-MM-YYYY')
              - var isReserved = reserves.some(reserve => reserve.data === date && reserve.refeicao === "jantar") || (data.isBefore(currentDay) && !data.isSame(currentDay,"day"))
              - var refeicao = meals[date].filter(meal => meal.refeicao === "jantar" && meal.tipo === "V")
              if refeicao.length
                - var refeicao = refeicao[0]
                td.square.tooltip(id="JV"+c class=isReserved ? 'reserved' : '' onclick='selectDay(this)') #{refeicao.prato}
                  p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent('+ JSON.stringify(refeicao) +')') DETALHES]
              else
                td.square.tooltip(id="JV"+c class=isReserved ? 'reserved' : ''  onclick='selectDay(this)') Sem Informação
      .reservar-btn(onclick='reservou(this,"'+ user.username+'","'+startOfWeek.format('DD-MM-YYYY')+'","'+week+'")') Reservar
    include footer.pug
        
  
  
  
  
  
      