extends layout
block content
  link(rel='stylesheet', href='/stylesheets/profile.css')
  script(src="/javascripts/profile.js")
  body
    include navbar.pug
    .row.no-gutters 
      .leftside.col
        .title 
          //- depois por a path guardada de cada user
          img.profile-image(src='/images/user_assets/profile.png', alt='Profile Image')
          h1= u.username
        .content
          //- por os parâmetros de cada user como value de cada label
          form
            .form-field
              label(for="email") Email:
              input(type="text" id="email" name="email" value=u.email readonly)
            .form-field
              label(for="name") Nome:
              input(type="text" id="name" name="name" value=u.username readonly)
            .form-field
              label(for="tipo") Tipo:
              input(type="text" id="tipo" name="tipo" value=u.tipo readonly)
      .rightside.col
        .reservations
          h1 As tuas reservas!
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th Data
                  th Refeição
                  th Tipo
                  th 
              each r in reserves
                tbody
                  tr
                    td= r.data
                    td= r.refeicao
                    if r.tipo == 'N'
                      td Normal 
                    else 
                      td Vegan
                    td
                      img.delete(onclick='deleteReserve("'+r._id+'")' src='/images/user_assets/cancel.png', alt='Delete', height='13pw', width='13pw', id="btn")
              - for(let i = reserves.length; i < 10; i++)
                tbody
                  tr
                    td ---
                    td ---
                    td ---
                    td